[Unit]
Description=Polypod App Update Timer

[Timer]
OnCalendar=*-*-* *:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
