[Unit]
Description=Polypod First-Boot Setup
After=local-fs.target
Before=greetd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/polypod-setup-system.sh

[Install]
WantedBy=multi-user.target
