:root {
  --primary: #3a3129;
  --bg: #5a4134;
  --card-bg: #ffffff;
  --text-main: #b2a3b8;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}


.hero {
  text-align: center;
  margin-bottom: 1rem;
  color: #f9e4bc;
  font-size: 30px;
}

h2 {
  color: #f9e4bc;
}