.save-btn {
  position: absolute;
  top: 18px;
  right: 10px;
  z-index: 10;

  padding: .5rem 1rem;
  white-space: nowrap;

  background-color: var(--primary);
  color: #f9e4bc;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  display: block;
}

.save-btn:hover {
  transform: scale(1.04);
  color: gray;
}

.summary-box {
  margin-top: 2rem;
  padding: 1rem;
  background: #2c522f;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  text-align: center;
  color: #f9e4bc;
}

.summary-box:hover {
  transform: scale(1.01);
  color: gray
}

.summary-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background dimming */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(4px); /* Blurs the background app */
}

.summary-modal-content {
  background: #3a3129;
  padding: 2rem;
  border-radius: 16px;
  width: 90%;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
  color: #f9e4bc;
  max-height: 80vh; /* Prevents it from being too tall */
  overflow-y: auto; /* Allows scrolling if list is long */
}

.search-bar {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-sizing: border-box; /* Prevents padding from breaking width */
}

.search-bar:focus {
  border-color: #4f46e5;
  outline: none;
}

.no-results {
  text-align: center;
  color: #6b7280;
  margin-top: 2rem;
}

.interest-grid {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1.5rem 0;
}

.interest-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.interest-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  cursor: pointer;
  background: #3a3129;
  font-size: 1rem;
  color: #f9e4bc
}

.interest-item:hover {
  transform: scale(1.02);
  color: gray
}

.interest-item.active {
  border-color: var(--primary);
  background-color: #2c522f;
}

.interest-item input {
  margin-right: 1rem;
  transform: scale(1.2);
}

.menu-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category-card {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background: #3a3129;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  transition: transform 0.1s;
  color: #f9e4bc
}

.category-card:hover {
  transform: scale(1.02);
  color: gray
}

.category-card:active { transform: scale(0.98); }

.back-btn {
  background: none;
  border: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  margin-bottom: 1rem;
  font-weight: bold;
  padding: 0;
}

.back-btn:hover {
  transform: scale(1.02);
  color: gray
}

.logout {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: 8px 16px;
  background-color: transparent;
  color: #f9e4bc;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.logout:hover {
  color: gray;
  transform: scale(1.04);
}