.app-container {
  width: 100vw;               
  max-width: 100vw;      
  min-height: 100vh;
  overflow: hidden;
  background:
    linear-gradient(rgba(28, 27, 27, 0.55), rgba(90,65,52,0.65)),
    url("/7637091.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  padding: 0 30%; /* Adds 20px of breathing room to the left and right */
  box-sizing: border-box; /* Ensures the padding doesn't accidentally make the screen wider than 100vw */
}

.slider-viewport {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  width: 300%;
  transition: transform .4s cubic-bezier(.25, 1, .5, 1);
}

/* move whole track to the left */
.slider-track.slide-left {
  transform: translateX(-50%);
}

.slide-page {
  position: relative;
  width: 33.333%; 
  padding: 0 0.5rem;
  box-sizing: border-box;
  flex-shrink: 0;
}

.slider-track.level-2 {
  transform: translateX(-33.333%);
}

.slider-track.level-3 {
  transform: translateX(-66.666%);
}

/* FOR SMALL SCREENS */ 

@media (max-width: 768px) {
  
  /* make main text bigger */
  p, span, button {
    font-size: 1.1rem; 
  }

  /* make category cards/buttons easier to tap */
  .category-card, .save-btn {
    padding: 16px 20px; /* bigger padding for thumbs */
    width: 90%; 
    margin: 10px auto; 
  }

  /* give modal/containers more breathing room */
  .modal-content, .app-container {
    width: 100%; /* Use almost the whole screen width */
    height: 100%;
    padding: 15px; /* Reduce massive desktop padding */
  }

  /* increase gap in preference lists  */
  li {
    padding: 15px 0 !important; /* forces the list items to space out vertically */
  }
}